div {
/*	border: solid 1px red;
*/}

#finance-container {
/*	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	padding-bottom: 20px;
*/}

.utang-card-wrapper {
	margin: 0;
	padding: 5px;
}

.utang-card {
	line-height: 0;
	padding: 0;
	background: white;
	text-align: center;
}

.utang-card-head {
	color: white;
	padding: 5px;
	background: #017cbf;
	text-transform: uppercase;
}


.utang-card-body {
	padding: 10px;
}

.utang-card .form-control {
	background: none;
	box-shadow: none;
	border: none;
	font-size: 30pt;
	height: auto;
	text-align: center;
}

.utang-card h5 {
	margin: 0;
	font-weight: bold;
    font-family: coutur;
}

.with-balance {
	background: #fff568;
}