#home-wrapper {
  margin-top: 75px;
  margin-bottom: 25px;
}

#home-left {
  padding: 0;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#tasks-panel-wrapper {
    background: #fff568;
}

#task-panel {
    padding: 0;
}

.rem-list {
    padding: 10px;
    border-bottom: solid 1px white;
    text-align: left;
    font-size: 11pt;
    line-height: 10pt;
}

.rem-deadline {
  color: #017cbf;
  text-align: right;
}

#canvas-holder{
  width:100%;
  text-align: center;
}

canvas{
  display: inline-block;
}

.fin-card {
  text-align: center;
}

.value {
  margin-top: 0;
}

#fin-form .btn {
  margin-top: 10px;
}

#fin-overlay-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
}

#fin-overlay-panel .card {
  width: 600px;
  background-color: white;
  margin: auto;
  margin-top: 75px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#fin-overlay-panel #fin-form {
  padding: 25px;
}

@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: {{ $fin_progress }}%;
  }
}

.progress-bar-striped {
  -webkit-animation: load 3s;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background-image: -webkit-linear-gradient(45deg, #0aa1da 25%, #017cbf 25%, #017cbf 50%, #0aa1da 50%, #0aa1da 75%, #017cbf 75%, #017cbf);
  background-image:      -o-linear-gradient(45deg, #0aa1da 25%, #017cbf 25%, #017cbf 50%, #0aa1da 50%, #0aa1da 75%, #017cbf 75%, #017cbf);
  background-image:         linear-gradient(45deg, #0aa1da 25%, #017cbf 25%, #017cbf 50%, #0aa1da 50%, #0aa1da 75%, #017cbf 75%, #017cbf);
}

.progress {
  background-color: #DEDEDE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3) inset;
  margin: 0;
}

.shout-body {
  font-weight: bold;
  font-size: 11pt;
  line-height: 13pt;
}

#fin-panel {
    background-color: white;
}

#section-header-hover {
    height: 200px;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);    
    color: white;
    text-shadow: 1px 1px 1px black;
}

hr {
  margin: 10px;
}

#section-header {
    height: 200px;
    background-color: #FAFAFA;
    background-color: #666;
    background-image: url('../images/ysesat10.png');
    background-size: 100%;
    background-position: 10px;
}

#fin-total {
  line-height: 0;
  text-align: center;
}

.fin-ribbon {
  height: 0;
  border: solid 30px #fff568;
  border-right: solid 25px rgba(0,0,0,0);
  border-left: solid 25px rgba(0,0,0,0);
  width: 80%;
  bottom: 30%;
  left: 10%;
  position: absolute;
  margin: auto;
}

.fin-ribbon h2 {
  font-weight: normal;
  margin-top: -15px;
}

.fin-progress-value {
  color: white;
  float: right;
  font-weight: bolder;
  padding-right: 15px;
}

.cash_icon img {
    width: 80%;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.right-pannel {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 10px;
  padding: 20px;
}

.carousel {
    padding: 25px;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-control {
    width: 10%;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}