body{
    background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		margin:0;
}

.login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.logo{
  position: relative;
  width:200px;
  height:200px;
  left:12%;
}
