body{
  background-color: white;
  background-image: url("../images/background.jpg");
  background-image: url("../images/uplb-blur.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#login-panel {
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  width: 550px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
}

#logo {
  border-radius: 100%;
  background-color: white;
  margin: 0;
  position: absolute;
  margin-top: -130px;
  margin-left: 145px;
  width: 200px;
  height: 200px;
}

#welcome {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  font-family: coutur;
}