@font-face {
  font-family: montserrat-reg;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: roboto-reg;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: coutur;
  src: url("../fonts/Coutur.otf");
}

body {
    background-color: #f4fce8;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-family: roboto-reg;
    font-size: 17px;
    font-size: auto;
}

.navbar {
    border: none;
	background-color: #7f94b0;
    /*vertical horizontal blur color*/
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{
	background-color: #7f94b0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover{
	color: #a1bee6;
}

/* Creting a task form */
.form{
	margin-top: 20px; 
	background-color: white;
	padding:40px;
	width:50%;
}

.page-title{
	text-align: center;
	margin-bottom: 10px;
}


