@font-face {
    font-family: montserrat-reg;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: roboto-reg;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: coutur;
    src: url("../fonts/Coutur.otf");
}

body {
    background-color: #f4fce8;
    background-image: url('../images/feather2.png');
    background-size: 500px;
    font-family: roboto-reg;
    font-size: auto;
}

/* FOR NAVIGATION */
.navbar {
    border: none;
	background-color: #017cbf;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{
	background-color: #0aa1da;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover{
	color: #fef568;
}

/* FOR PAGERS */

.section-title {
  font-family: coutur;
  text-align: center;
}

.section {
    padding: 25px 35px;
}


/* FOR BUTTONS */

.btn {
    border: none;
    border-radius: 5px;  
    width: 100%;
    height: 35px;
    margin: none;
    margin-top: -10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.btn-primary {
    background-color: #017cbf;
}

.btn-default {
    background-color: #fef568;
}

/* FOR FORMS */

input {
    border: none;
    border-radius: 5px;
    border: solid 1px #DEDEDE;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7) inset;
}


/* CONTAINER */
.card {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

/* SHADOWS */
.form {
	margin-top: 20px; 
	background-color: white;
	padding:40px;
	width:50%;
}

.page-title{
	text-align: center;
	margin-bottom: 10px;
}

#fin-status-title {
  text-align: left;
}

#app-container {
    margin-top: 75px;
    margin-bottom: 25px;
}