#canvas-holder{
  width:100%;
  text-align: center;
}

canvas{
  display: inline-block;
}

.oah{
  margin-top:30%;
  padding:5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
}

.oah h4{
  text-align:center;
}

.oah p{
  padding:10px;
}

.head{
  margin-top:10px;
  padding:5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
}

.head h4{
  text-align:center;
}

.head p{
  padding:10px;
}

.card {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px #999;
  line-height: 15px;
}

.card h4 {
  color: navy;
}

.card h6 {
  font-style: italic;
  color: #989898;
}

.shout-form {
  padding: 20px;
}

.shout-form .btn {
  float: right;
}

.fin-card {
  text-align: center;
  padding: 10px;
}


.fin-card > div {
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#fin-overlay-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.7);
}

#fin-overlay-panel .card {
  width: 600px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 1px 1px 5px #333;
}

#fin-overlay-panel #fin-form {
  padding: 20px;
}