div {
/*  border: solid red 1px;
*/}

body {
  background-image: url('../images/feather2.png');
  background-size: 500px;
}

.section-title {
  font-family: coutur;
  text-align: center;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-wrapper {
  margin-top: 75px;
  margin-bottom: 25px;
}

#home-left {
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#home-right {
  padding: 30px;
  padding-top: 0;
  height: 100%;
}

#task-reminders {
  width: 100%;
  font-size: 10pt;
}

.deadline {
  color: red;
  text-align: right;
}

#canvas-holder{
  width:100%;
  text-align: center;
}

canvas{
  display: inline-block;
}

.oah{
  margin-top:30%;
  padding:5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
}

.oah h4{
  text-align:center;
}

.oah p{
  padding:10px;
}

.head{
  margin-top:10px;
  padding:5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
}

.head h4{
  text-align:center;
}

.head p{
  padding:10px;
}

.shout-form {
}

.shout-form .btn {
  float: right;
}

.fin-card {
  text-align: center;
  padding: 10px;
}

.fin-card > div {
  padding: 5px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  background-color: #F0F0F0;
  border-top: solid 3px navy;
}

.value {
  margin-top: 0;
}

#fin-form .btn {
  margin-top: 10px;
}

#fin-overlay-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
}

#fin-overlay-panel .card {
  width: 600px;
  background-color: white;
  margin: auto;
  margin-top: 75px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#fin-overlay-panel #fin-form {
  padding: 25px;
}

@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: {{ $fin_progress/2 }}%;
  }
  100% {
    width: {{ $fin_progress }}%;
  }
}

.progress-bar-striped {
  -webkit-animation: load 3s;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.progress {
  background-color: #DEDEDE;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
}

.shout {
  padding: 0;
  padding-top: 10px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.shout-body {
  font-weight: bold;
  font-size: 11pt;
  line-height: 13pt;
}

