
/*div{
	border: 1px solid black;
}*/


.wrapper{
  float:left;
  padding:8px;
  margin:8px;
}

.cards{
  background-color: white;
  border-radius: 10px;
}

ul{
  list-style: none;
}

.displayPic{
  max-width:70%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.side{
  margin:10px;
  background-color: rgba(255,255,255, 0.6);
  border-radius: 10px;
}

.form-group,
.side,
.form-control{
  text-align: center;
}

.form-control{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#canvas-holder{
  padding-left: 10%;
  padding-right: 10%;
}

.info{
  margin: 5px;
}

.info:hover{
  background-color: rgba(255,255,255, 0.9);
}
