/*
div{
	border: 1px solid black;
}*/

.wrapper{
  float:left;
  padding:8px;
  margin:8px;
}

p{
  color: #919999;
}

.page-header{
  text-shadow: 3px 1px 5px gray;
}

/* TASKS */

.cards{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 7px 5px #888888;
  margin: 20px;
}

.form-group,
.side,
.form-control{
  text-align: center;
}

.form-control{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.btn{
  background-color: #919999;
  color: #f4fce8;
  border-color: #919999;
}

/* GRAPH */

#canvas-holder{
  width:100%;
  text-align: center;
}

canvas{
  display: inline-block;
}

/* PROFILE INFO AND PAST ROLES */

.displayPic{
  max-width:60%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.table{
  text-align: center;
}

.side{
  margin:10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
  padding: 20px;
}

.info{
  margin: 5px;
  border-radius: 5px;
}

.info:hover{
  background-color: #a1bee6;
  border-color: #a1bee6;
}
