/*
CSS for the profile pages of the members,
OAH, and upper and lower heads
*/

/*
div{
	border: 1px solid black;
}*/

.wrapper{
  float:left;
  padding:8px;
  margin:8px;
}

/*
Cards and Tasks
*/

p{
  color: #919999;
}
.cards{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 7px 5px #888888;
}

.form-group,
.side,
.form-control{
  text-align: center;
}
.form-control{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/*
Graph
*/
#canvas-holder{
  width:100%;
  text-align: center;
}

canvas{
  display: inline;
}


/*
sidebar containing the profile and all events
*/

ul{
  list-style: none;
}

.displayPic{
  max-width:70%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

th{
  text-align: center;
}

