@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: {{ $task_progress/2 }}%;
  }
  100% {
    width: {{ $task_progress }}%;
  }
}

.progress-bar-striped {
  -webkit-animation: load 3s;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.progress {
  background-color: #DEDEDE;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
}

/* Design ng task cards */

.cards{
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  border: solid 1px rgba(0,0,0,0.3);

}

.card-header{
  background:#fff568;
  margin:0px;
  padding:0px;
}

.card-body{
  margin:20px;
}

.card-body .btn{
  margin-top:10px;
  margin-bottom:10px;
}

.input-comment{
  float:left;
}

.show-comments{
  float:left;
}

.btn-comment{
  position: absolute;
  float: right;
  width: 50px;
  height:50px;
  border-radius: 100%;
  right: 10px;
  bottom: 0;
}


span{
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  font-family: roboto-reg;
  font-size: 17px;
  font-size: auto;
}

.form-group label{
  text-align: left;
}

.btn,
.card-body>a{
  text-align: center;
}

.comments-cont {
  text-align: left;
}

.comments-cont h5 {
  text-align: left;
}

.text-area{
  width:100%;
  height: 100px;
  margin-bottom: 20px;
}

.input-comment {
  padding: 0;
}

.col-md-12 {
/*  border: solid 1px red;
*/}