body {
  background-image: url('../../images/feather2.png');
  background-size: 500px;
}

div {
/*	border: solid 1px red;
*/}

#admin-panel {
	padding-top: 75px;
	padding-bottom: 25px;
}

#admin-container {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.section {
	padding: 15px;
}

.section-title {
	font-family: coutur;
}

.designation {
	margin-top: 10px;
	margin-bottom: 10px;
}

.request-panel {
	background: white;
	padding: 15px;
	margin-left: -15px;
	margin-top: 5px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.request-panel .user {
	text-align: left;
	line-height: 12pt;
	font-size: 11pt;
}

hr {
	margin: 5px;
}

p.label {
	color: black;
}

.user h4 {
	text-align: center;
	font-weight: bold;
}

.request-panel .committee {
	text-align: left;
}

#summary-panel {
	padding: 0;
}

.table-wrapper {
	padding: 15px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#committees-table {
}

.create-button {
	position: absolute;
	margin-top: -20px;
	right: 20px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	font-size: 20pt;
	background-color: royalblue;
	color: white;
	border: none;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

td {
	font-size: 11pt;
}